<% if (typeof isAuthenticated !== 'undefined' && isAuthenticated && user) { %>
<%- include('partials/nav-registered-user.ejs', { user: user }) %> <% } else {
%> <%- include('partials/navigation.ejs') %> <% } %>

<!--
    TODO: Add CSS to the preview window for better styling
    TODO: User can also preview the article with the excerpt and tags, and maybe a "back" button to return to the form.
    TODO: Add the user name and date to the preview window, maybe with a "back" button to return to the form.
    -->

<div class="container py-4">
  <h1 class="mb-3 mb-4 pb-3">Articles</h1>
  <% if (typeof articles !== 'undefined' && articles && articles.length > 0) {
  %>
  <div class="row g-3">
    <% articles.forEach((a) => { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column m-4">
          <h3 class="card-title paragraph-truncate-2"><%= a.title %></h3>
          <% if (a.excerpt) { %>
          <p class="card-text text-muted mt-3 paragraph-truncate">
            <%= a.excerpt %>
          </p>
          <% } %>
          <div class="mt-auto d-flex flex-row gap-2">
            <small class="text-muted mt-4">
              <%= a.published ? 'Published' : 'Draft' %>
            </small>
            <small class="text-muted mt-4">
              <%= a.createdAt ? new Date(a.createdAt).toLocaleDateString() : ''
              %>
            </small>
            <a
              class="text-black mt-4 fw-bold"
              href="/view-article/<%= a.id ?? a._id %>"
              role="button"
              style="text-decoration: none;  text-align: end; margin-left: auto;  font-size: 0.875rem"
              onclick="
                window.dispatchEvent(
                  new CustomEvent('view-article', {
                    detail: { id: '<%= a.id ?? a._id %>' },
                  })
                )
              "
            >
              Read more
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <p class="text-muted">No articles yet.</p>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>
